html,body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box; 
    overflow-x: hidden;
    background-image: url(images/logo.jpg);
    background-size: cover;
}
.navbar
{
    background-color: black;
}
.navbar .brand-navbar img:hover
{
    opacity: 0.7;
    
}
.brand-navbar{
    color: chocolate;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar ul
{
padding: 0px 30px 0px 0px;
}
.navbar ul li a{
    color: white;
    margin: 10px 0px 0px 10px;
    text-transform: uppercase;
    font-size: 12px;
}
.navbar ul li a .fas{
    padding-right:5px; 
    padding-left:5px; 
}
.navbar ul li a:hover{
    color: #15b000;
}
.navbar ul li.active > a {
    color: #15b000;
    font-weight: bold;
    font-size: 12px;
    border-left: 3px solid #15b000;
    border-radius: 40px;
}
.loginBox{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-40%);
    width: 450px;
    height: 550px;
    padding: 40px 20px;
    box-sizing: border-box;
    border-radius: 4px;
   	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	border-left: 2px solid #fff;
}
h2{
    margin: 0;
    padding: 0 0 3px;
    text-align: center;
}
.loginBox p{
    padding: 0;
    margin: 0;
    font-weight: bold;
    color: #fff;
}
.loginUser{
    width: 100%;
    border: none;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.myMeter{
    width: 65%;
    visibility: hidden;
}
#p1{
    visibility: hidden;
    
}
.submit-btn{
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background: rgb(53, 66, 245);
    cursor: pointer;
    border-radius: 20px;
    width: 100%;
}
.submit-btn:hover{
    background: #efed40;
    color: #262626;
}
.loginBox a{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-left: 27px;
}
::placeholder{
    color: rgba(255,255,255,0.5);
}

.footer p {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: x-small;
    color: rgb(11, 87, 11);
}
